.team-edit-form {
    border: 1px red solid;
}
.team-edit-form label{
    display: block;    
    padding-top: 2px;
}
.team-edit-form input{
    border: 1px gainsboro solid;
    box-shadow: 0.5px 0.5px  gray;
}